button {
  padding: 10px;
  margin: 10px;
  outline: none;
  border: none;
  font-size: large;
  border: 1px solid darkgray;
  border-radius: 10px;
}

.record-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
