.word {
  display: inline-block;
  background-color: white;
  margin: 5px;
  padding: 10px;
  border: 1px solid gray;
  color: orange;
  font-size: x-large;
}

button {
  padding: 10px;
  margin: 10px;
  outline: none;
  border: none;
  font-size: large;
  border: 1px solid darkgray;
  border-radius: 10px;
}
