<div class="container">
  <div class="header">
    <h1>Welcome to LINQUA. Let's practice english to the master level.</h1>
  </div>
  <div class="navigation">
    <button class="btn" (click)="previous()">Go to previous</button>
    <button class="btn" (click)="next()">Go to next</button>
  </div>
  <div class="content">
    <div *ngIf="currentTask">
      <div class="task-header">
        <h2>Title: {{ currentTask.title }}</h2>
        <p class="task-description">
          Description: {{ currentTask.description }}
        </p>
        <!-- <p>{{ currentTask.type }}</p>
        <pre>{{ currentTask.taskData | json }}</pre> -->
      </div>

      <div *ngIf="currentTask.type == TaskType.riddle">
        <app-riddle
          [task]="currentTask"
          (taskIsStarting)="taskAnswer = null"
          (answerQuestion)="quizAnswered($event, currentTask)"
        ></app-riddle>
      </div>
      <div *ngIf="currentTask.type == TaskType.describe">
        <app-describe-item
          [task]="currentTask"
          (taskIsStarting)="taskAnswer = null"
          (answerQuestion)="quizAnswered($event, currentTask)"
        ></app-describe-item>
      </div>
    </div>
    <div *ngIf="taskAnswer" class="task-answer">
      <div>
        <label>Your answer:</label>
        <div>{{ taskAnswer.text }}</div>
      </div>
      <div>
        <label>Your sentence has been corrected!:</label>
        <div>{{ taskAnswer.correct_sentence }}</div>
      </div>
      <div>
        <label>Your score:</label>
        <div>{{ taskAnswer.score }}</div>
      </div>
    </div>
  </div>
</div>
